
$background-color: #fff;
$primary-color: #f4e9e6;
$secondery-color:#f3ebe3;
$heading-color:#a99f9a;
$text-color:  #494543;
$accent-color: #8c817c;
$button-color:#bcb1ab;
$form-color: #ecf0f1;
$font-family : 'Montserrat', sans-serif;

// Breakpoints
$small-screen: 576px;
$medium-screen: 600px;
$large-screen: 700px;
$x-large-screen: 1200px;