@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import "variables";
@import "mixin";


body {
  margin: 0;
  padding: 0;
  font-family:$font-family ;
  background-color: $background-color;  
}

/* Header and Nav styling */
header {
  background-color: $primary-color;
  position: sticky;
  top: 0;
  width: 100%;
}

.headercontent {
  background-color: $primary-color;
  color: $background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    padding-left: 70px;
  }
  nav .nav__links{
    list-style: none;
    @include responsive( $medium-screen) {
      display: flex;
      flex-direction: column;
    }
    @include responsive( $large-screen) {
      display: flex;
      flex-direction: column;
    }
    li {
      display: inline-block;
      padding: 0 10px;
      a {  
        text-decoration: none;
        color: $text-color ;
        padding: 35px;
      }
      a:hover {  
        background-color: $text-color ;
        color: $secondery-color ;
      }
    }
  }
   @include responsive( $medium-screen ) {
     display: flex;
     flex-direction: column;
   }

  }


/* Hero styling */
#Hero {
  background-image: url(/src/images/backgroundImage.jpeg);
  background-position: center;
  background-size: cover;
  height: 700px;
  padding-top: 180px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  }
  .catchyHeadlines {
    margin-top: 80px;
    margin-left: 30px;
    width: 1000px;
    line-height: 1.2;
    text-align: center;

    h1 {
      color: $accent-color;
      font-size: 3rem;
      padding-right: 270px;
    }
    h3 {
      color: $text-color;
      padding-right: 270px;
      margin-left: 30px;
    }
     button {
      background-color: $accent-color;
      border: 2px solid $accent-color;
      font-family: $font-family;
      border-radius: 10px;
      color: $primary-color;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
      margin-top: 30px;
      cursor: pointer;
      margin-right: 240px;
    }
    button:hover {
      background-color: $primary-color;
      color: $accent-color;
      border: 2px solid $primary-color;
    }

  }


/* Product section styling */
#products {
  text-align: center;
  max-width: 100%;
  padding: 2rem 1rem;
  @include responsive( $medium-screen) {
    display: flex;
    flex-direction: column;
  }  
  h2{
    padding-top: 20px;
    font-size: 40px;
    color:$heading-color;
  }
  .products_container {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 70px;
    margin: auto;
    padding-top: 50px;
    @include responsive( $medium-screen) {
      display: grid;
      grid-template-columns: 1fr ;
    }
    .product {
      height: 420px;
      width: 590px;
      margin: 50px auto;
      border-radius: 7px 7px 7px 7px;
      box-shadow: 0px 14px 17px 0px rgba(0, 0, 0, 0.15); 
      .product-img {
        float: left;
        height: 200px;
        width: 270px;
        img {
          border-radius: 7px 0 0 7px;
        }
      }
      .product-info {
        float: left;
        height: 420px;
        width: 240px;
        border-radius: 0 7px 10px 7px;
        background-color: $background-color;
        .product-text {
          height: 300px;
          width: 240px;
          h1 {
            margin: 0 0 0 38px;
            padding-top: 52px;
            font-size:20px;
            color: #474747;
          }
          p {
            height: 125px;
            margin: 0 0 0 38px;
            padding-top: 20px;
            color: #8d8d8d;
            line-height: 1.7em;
            font-size: 15px;
            font-weight: lighter;
            overflow: hidden;
          }
          
        }
        .product-price-btn {
          height: 103px;
          width: 327px;
          margin-top: 17px;
          position: relative;
          p {
            display: inline-block;
            position: absolute;
            top: 0px;
            height: 50px;
            margin: 0 64px 0 -87px;
            font-size: 20px;
            font-weight: lighter;
            color: $heading-color;
          }
          span {
            display: inline-block;
            height: 50px;
            font-family: 'Suranna', serif;
            font-size: 34px;
          }
          button {
            float: right;
            height: 50px;
            width: 130px;
            margin: 0 40px 0 16px;
            box-sizing: border-box;
            border: transparent;
            border-radius: 60px;
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: $background-color;
            background-color: $accent-color;
            cursor: pointer;
            outline: none;
          }
          button:hover {
            background-color: $accent-color;
          }
        }
      }
      
    }
    .product:hover{
      transform: scale(1.1);
    }
  }
}


/* testimonials section styling*/
#testimonials{
  .testimonial_heading{
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    color:$heading-color;
  
  }
  .testimonials_container{
    padding-top: 100px;
    padding-bottom: 150px;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin-top: 70px;
    margin: auto 150px;
    @include responsive( $medium-screen) {
      display: flex;
      flex-direction: column;
    }
    .testimonial_customers {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      color: #9e9e9e;
      display: inline-block;
      font-size: 16px;
      margin: 35px 10px 10px;
      max-width: 310px;
      min-width: 250px;
      position: relative;
      text-align: center;
      width: 100%;
      background-color: $background-color;
      border-radius: 5px;
      border-top: 5px solid $button-color;
      figcaption {
        padding: 13% 10% 12%;
      }
      figcaption:before {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: $background-color;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        color: $button-color;
        content: "\f10e";
        font-family: 'FontAwesome';
        font-size: 32px;
        font-style: normal;
        left: 50%;
        line-height: 60px;
        position: absolute;
        top: -30px;
        width: 60px;
      }
      h3 {
        color: #3c3c3c;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        margin: 10px 0 5px;
      }
      h4 {
        font-weight: 400;
        margin: 0;
        opacity: 0.5;
      }
      blockquote {
        font-style: italic;
        font-weight: 300;
        margin: 0 0 20px;
      }
    }
    .testimonial_customers:hover{
      transform: scale(1.1);
    } 
  }

}


/* Newsletter section styling */
.Newsletter{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive( $medium-screen) {
    margin-right: 120px ;
    display: flex;
    flex-direction: column;
  }
  .formNewsletter{
    flex-direction: column;
    .form-container{
      margin: auto;
      align-items: center;
      @include responsive( $medium-screen) {
        width: 200px;
      }
      
      h2{
        margin-left: auto;
        margin-top: 50px;
        text-align: center;
        font-weight: 100;
        font-size: 2.8em;
        color: $accent-color;
    }
    p{
      margin-left: auto;
      margin-top: 20px;
      text-align: center;
      font-weight: 100;
      font-size: 1.5em;
      color: $accent-color;
    
    }
    .input_formStyle{
      background-color: $background-color;
      font-family: $font-family;
      padding: 20px; 
      width: 600px; 
      margin-bottom: 20px; 
      border-bottom-width: 1px; 
      border-bottom-style: solid; 
      border-bottom-color: $form-color; 
      border-top-style: none; 
      border-right-style: none; 
      border-left-style: none; 
      font-size: 1em;
      font-weight: 100;
      color: $button-color;
      @include responsive( $medium-screen) {
        width: 300px;
      }
      input[placeholder]{
        color: $form-color;
      }
    }
    .formbtn{
      font-family: $font-family;
      float: right;
      background-color:$button-color;
      border: 2px solid $button-color;
      border-radius: 10px;
      color:$form-color;
      font-size:24px;
      padding:6px 20px;
      margin-top: 30px;
      margin-right: 245px;
      text-decoration:none;
      @include responsive( $medium-screen) {
        padding:6px 10px;
        margin-right: 60px;
      }
    }
    .formbtn:hover{
      position:relative;
      top:3px;
    }
    }
  }
}

/* Footer section styling */

.footer{
  background-color: $primary-color  ;
  color:saddlebrown;
  .footer_container{
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .social_media{
      size: 18px;
      padding-top: 20px;
      padding-left: 30px;
      list-style: none;
      a{
        font-size: 30px;
        color: $accent-color;
        padding: 18px;
      }
    }
    .footer_links_ul{
      list-style: none;
      font-size: 18px;
      li{
        display: inline-block;
        padding: 0 10px;
        a{
          text-decoration: none;
          color: $text-color ;
          }
      }
    }
    .copy_right{
      padding-top: 0;
      p{
        padding-left: 50px;
      }      
    }
  }
  
}

